@import "@sass/variables";
@import "@sass/fonts";

#main{
    .box_info{
        border-radius: 8px;
        background-color: $gray-250;
        font-family: "ItauText";
        p{
          color: $blue-sparkly;
          font-size: 12px;

        }
      }
    .cardInfo{
        height: 93%;
        border-radius: 8px;
        .icon-x2{
            font-size: 2.5rem;
            font-family: 'itaufonts_master_24px_v1';
            color:$amber;
            font-weight: 400;
            line-height: 1.5;
        }  
        .icon-x3{
            font-size: 3rem;
            font-family: 'itaufonts_master_24px_v1';
            color:$amber;
            font-weight: 400;
            left: 0;
        }       
        .card-title{
            font-size: 14px;
            font-family: 'ItauText';
            color:$color-text;
            font-weight: bold;
        }
        .card-text{
            font-size: 11px;
            font-family: 'ItauText';
            color:$gray-640 !important;
            font-weight: 400;

        }

        .card-h4{
            font-size: 16px;
        }

        .card-content-bordered{
            border: 2px solid $gray-110;
            border-radius: 3px;
            padding: 10px;
        }

        .card-change-page{
            cursor: pointer;
        }

        .card-text-pdf{
            background-color: $blue;
            padding: 5px;
            border-radius: 3px;
            color: $gray-050;
        }
    }
}