@import "@sass/variables";
@import "@sass/fonts";

#main{
    .box_info{
        border-radius: 8px;
        background-color: $gray-250;
        font-family: "ItauText";
        p{
          color: $blue-sparkly;
          font-size: 12px;

        }
      }
    .cardInfo{
        height: 93%;
        border-radius: 8px;
        .icon-x2{
            font-size: 2.5rem;
            font-family: 'itaufonts_master_24px_v1';
            color:$amber;
            font-weight: 400;
            line-height: 1.5;
        }       
        .card-title{
            font-size: 14px;
            font-family: 'ItauText';
            color:$color-text;
            font-weight: bold;
            text-align: center;
            width: 120%;
            height: 40%;
            margin: 1px -15px 0px;
        }
        .card-text{
            font-size: 11px;
            font-family: 'ItauText';
            color:$gray-640 !important;
            font-weight: 400;
            text-align: center;            
            margin: 0 -17px;
        }
    }
}